extends layout

block content
  .center
    h1= title
    label Address 
    input#address
    .vspace
    #results.left.block

  script(src='//cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js')
  script(src='/javascripts/index.js')
