body {
  padding: 50px;
  font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  color: #00B7FF;
}

label {
  margin-right: 1em;
}

input {
  font-size: 22px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.block {
  display: inline-block;
}

.vspace {
  margin-top: 20px;
}

.smaller {
  font-size: 16px;
}
